[connection]
server = tfstage

[test_output_path]
mqtt = output/mqtt_module.c
config = output/configure.json

[provisioning_output_path]
mqtt = C:/gateway-dev2/amazon-freertos/demos/espressif/esp32_devkitc_esp_wrover_kit/common/application_code/mqtt_module.c
make_dir = C:/gateway-dev2/amazon-freertos/demos/espressif/esp32_devkitc_esp_wrover_kit/make
config_dir = C:/gateway-dev2/amazon-freertos/tools/aws_config_quick_start/

[new_provisioning_output_path]
mqtt = C:/dev-freertos-gateway/amazon-freertos/vendors/espressif/boards/esp32/purple-gateway-updated/application_code/mqtt_module.c
make_dir = C:/dev-freertos-gateway/amazon-freertos/vendors/espressif/boards/esp32/purple-gateway-updated
config_dir = C:/dev-freertos-gateway/amazon-freertos/tools/aws_config_quick_start/

[COMPUTER]
NAME = BatteringRAM

[PRINTER]
NAME = GX420d
LABEL_TYPE = 1.25x0.25

[FIRMWARE]
VERSION = 